{% extends 'quiz/base.html' %}

{% block title %}Quiz - Home Page{% endblock %}

{% block content %}
<div class="container-fluid text-center">
    <div class="jumbotron">
        <h1>Welcome to Quiz World</h1>
        
        {% if level.prev_score %}
        <p>Your Previous Score:{{ level.prev_score }}</p>
        <a role="button" class="btn btn-primary" href="{% url 'quiz_again' level.id %}">Take Quiz again</a>
        {% else %}
        <a role="button" class="btn btn-primary" href="{% url 'get_mcq' level.id %}">Take Quiz</a>
        {% endif %}
    </div>
</div>
{% endblock %}