{% extends 'quiz/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Login Page{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="card text-white align-items-center" style="width: 300px;">

				<div class="text-center">
					<h4 class="card-title"><b>Login</b></h4>
					<form method="post">
						{% csrf_token %}
						{{ form.as_p }}
						<button type="submit" class="btn btn-success">Login</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}