{% extends 'quiz/base.html' %}

{% block title %}Quiz Form{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <h2>{{ques.question}}</h2>
            </div>
            <div class="col-md-4 text-right">
                <h3><small>Questions Left:{{ques_left}}</small></h3>
                <h3>Current Level:{{sco.level_flag}}
            </div>
        </div>
        <hr class="paper">
        <h3><small>Select an option:</small></h3>
        <form method="POST" id = "quiz" class="post-form" action="{% url 'validate_mcq' sco.id ques.id %}">
            {% csrf_token %}
            {% for choice in data %}
                <input type="radio" id="{{ choice.id }}" name="answer" value="{{ choice.answer_options }}" onchange="document.getElementById('quiz').submit()">
                <label for="{{ choice.id }}"><p>{{ choice.answer_options }}</p></label>
                <br>
            {% endfor %}
        
            {% comment %} <button type="submit" class="save btn btn-success">Submit</button> {% endcomment %}
        </form>
    </div>
{% endblock %}